.container {
  text-align: center;
  padding: 20px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  gap: 5px; 
  margin-top: 20px;
}

.logoCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 8px; 
}
